.uu {
  background-image: url(https://images.hdqwalls.com/download/retro-wave-4k-zx-1920x1200.jpg);
}
.jj {
  background-image: url(https://media.istockphoto.com/id/941875534/photo/white-hexagons-mosaic-3d-render.webp?b=1&s=170667a&w=0&k=20&c=nr-9LF9eCHbp4Arv_Ny6bflM6tD35sqHDIVjshLAT-0=);
}
.hh {
  background-image: url(https://i.pinimg.com/736x/74/44/ed/7444edac88c9e30c7a3f72b2542cf1c3.jpg);
}
.ii {
  background-image: url(https://t4.ftcdn.net/jpg/05/07/99/69/360_F_507996990_57tIUJXq79Afp3HL8eS2Eje4zNFg2ed7.jpg);
}
.oo {
  background-image: url(https://wallpaper.dog/large/976062.jpg);
  background-repeat: no-repeat;
}
.tt {
  border: solid blue 5px;
}
